{% extends 'base.html' %}
{% block content %}
<div>
<form action="/{{ season_id }}/episode/" method="get" class="form-inline my-2 my-lg-0">
		<input type='text' name='q' class="form-control" type="text" placeholder="Search..." aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Search</button>
</form>
</div>
<main role ='main'>
<div class="jumbotron">
<h1>
	{% for episode in episodes %}
	<li><a class= "post" href="{{ episode.url }}">
	{{ episode.episode_name }}</a></li>
	{% endfor %}
</h1>
</div>
</main>

{% endblock %}

